HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.properties


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
### PASSWORDS ###
.properties
/src/test/resources/application.properties
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Alumno.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/controlador/AlumnoController.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/contratos/AlumnoDAO.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/AlumnoDAOImpl.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/AlumnoDAOImplTest.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/repositorios/AlumnoRepository.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/repositorios/AlumnoRepositoryTest.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Aula.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/exception/BadRequestException.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Carrera.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/controlador/CarreraController.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/contratos/CarreraDAO.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/CarreraDAOImpl.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/CarreraDAOImplTest.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/repositorios/CarreraRepository.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/repositorios/CarreraRepositoryTest.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/datos/DatosDummy.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Direccion.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Empleado.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/repositorios/EmpleadoRepository.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/controlador/GenericController.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/contratos/GenericoDAO.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/GenericoDAOImpl.java
/src/test/resources/logback-test.xml
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Pabellon.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Persona.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/controlador/PersonaController.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/contratos/PersonaDAO.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/PersonaDAOImpl.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/servicios/implementaciones/PersonaDAOImplTest.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/repositorios/PersonaRepository.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/repositorios/PersonaRepositoryTest.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/enumeradores/Pizarron.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/controlador/PrimerRestController.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/Profesor.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/repositorios/ProfesorRepository.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/modelo/entidades/enumeradores/TipoEmpleado.java
/src/main/java/com/springsimplespasos/universidad/universidadbackend/UniversidadBackendApplication.java
/src/test/java/com/springsimplespasos/universidad/universidadbackend/UniversidadBackendApplicationTests.java
